<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheResult="false"
         colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Postcode">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="./build/logs/junit.xml"/>
        <testdoxHtml outputFile="./build/logs/testdox.html"/>
    </logging>
</phpunit>